.blank {
  text-align: center;
  margin-top: 83px;
  margin-bottom: 20px;
}

.table {
  width: 280px;
}

@media only screen and (min-width: 768px) {
  .table {
    width: 336px;
  }
}

@media only screen and (min-width: 1280px) {
  .table {
    width: 395px;
  }
}

.table_head {
  color: var(--white);
  position: relative;
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: rgba(82, 59, 126, 0.6);
  border-radius: 8px;
  height: 56px;
}

.table_head::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(100px);
  z-index: -1;
  border-radius: 8px;
}

.table_row.head {
  border: none;
}

.table_heading {
  font-weight: 600;
  font-size: 16px;
}

.table_body {
  color: var(--white);
  font-weight: 400;
  font-size: 14px;
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
}

.table_row {
  border-bottom: 2px solid rgba(128, 128, 128, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.table_data {
  padding: 16px 16px 16px 52px;
}

.label {
  width: 24px;
  height: 24px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 14px;
  left: 14px;
}

.label.main_expenses {
  background-color: #fed057;
}

.label.products {
  background-color: #ffd8d0;
}

.label.car {
  background-color: #fd9498;
}

.label.self_care {
  background-color: #c5baff;
}

.label.child_care {
  background-color: #6e78e8;
}

.label.household_products {
  background-color: #4a56e2;
}

.label.education {
  background-color: #81e1ff;
}

.label.leisure {
  background-color: #24cca7;
}

.label.other_expenses {
  background-color: #00ad84;
}

.label.entertainment {
  background-color: #ffbf00;
}

.income {
  background-color: #00c853;
}

.bottom_row {
  font-weight: 600;
  font-size: 14px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom_data {
  font-weight: 600;
  font-size: 14px;
  padding: 16px;
  padding-bottom: 0;
}

.expenses_summary {
  color: #ff868d;
}

.income_summary {
  color: #ffb627;
}
