.blank {
  text-align: center;
  margin-bottom: 20px;
}

.table {
  width: 280px;
}

.table_head {
  backdrop-filter: blur(100px);
  box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
  background: rgba(82, 59, 126, 0.6);
  border-radius: 8px;
  height: 56px;
}

.table_row.head {
  border: none;
}

.table_heading {
  font-weight: 600;
  font-size: 16px;
}

.table_body {
  font-weight: 400;
  font-size: 14px;
  height: auto;
  margin-bottom: 20px;
}

.table_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.table_data {
  padding: 18px 16px 16px 52px;
}

.label {
  width: 24px;
  height: 24px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 14px;
  left: 14px;
}

.label.main_expenses {
  background-color: #fed057;
}

.label.products {
  background-color: #ffd8d0;
}

.label.car {
  background-color: #fd9498;
}

.label.self_care {
  background-color: #c5baff;
}

.label.child_care {
  background-color: #6e78e8;
}

.label.household_products {
  background-color: #4a56e2;
}

.label.education {
  background-color: #81e1ff;
}

.label.leisure {
  background-color: #24cca7;
}

.label.other_expenses {
  background-color: #00ad84;
}

.label.entertainment {
  background-color: #ffbf00;
}

.income {
  background-color: #00c853;
}

.bottom_row {
  font-weight: 600;
  font-size: 14px;
  border: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom_data {
  font-weight: 600;
  font-size: 14px;
  padding: 16px;
  padding-bottom: 0;
}

.expenses_summary {
  color: #ff868d;
}

.income_summary {
  color: #ffb627;
}
