/* Общие стили */
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Стили для мобильных устройств */
@media (max-width: 767px) {
    .modal {
        width: 90%;
    }
}

/* Стили для планшетов */
@media (min-width: 768px) and (max-width: 1023px) {
    .modal {
        width: 70%;
    }
}

/* Стили для компьютеров */
@media (min-width: 1024px) {
    .modal {
        width: 50%;
    }
}

.save {

    border: 1px solid #4a56e2;
    border-radius: 20px;
    width: 280px;
    height: 50px;
    cursor: pointer;

    box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);

    background: linear-gradient(96.76deg, #FFC727 -16.42%, #9E40BA 97.04%, #7000FF 150.71%);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.commentFild {
    width: 394px;
    border: none;
    border-bottom: 1px solid #FBFBFB;

    background-color: transparent;

}

.inputData {
    width: 181px;
    border: none;
    border-bottom: 1px solid #FBFBFB;

    background-color: transparent;
}