.title {
  text-align: center;
  font-size: 30px;
  color: var(--white);
}
.addButton {
  border: none;
  border-radius: 20px;
  width: 280px;
  height: 50px;
  cursor: pointer;
  background: var(--button-gradient-modal);
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white-smoke);
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.addButton:hover {
  color: var(--white-smoke);
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3), 0 0 20px rgba(10, 10, 10, 0.1);
}

.inputField,
.dateInput,
.commentInput,
.categorySelect {
  background: transparent;
  color: var(--white-60);
  font-size: 18px;
  border: none;
  border-bottom: 1px solid var(--white-40);
  width: 100%;
}
.inputField {
  font-weight: 600;
}

.inputField:focus {
  outline: none;
  border-color: var(--btn-hover-bg);
}

.inputField::placeholder {
  color: var(--white-60);
}

.commentInput::placeholder {
  color: var(--white-60);
}

.categorySelect::placeholder {
  color: var(--white-60);
}

.commentInput {
  width: 100%;
  padding: 8px 0 8px 9px;
  font-size: 18px;
}

.commentInput:focus {
  outline: none;
}

.inputs {
  display: flex;
  gap: 32px;

  flex-direction: column;
}

.inputField,
.dateInput {
  padding: 8px 12px;

  width: 100%;
}

.iconClose {
  position: fixed;
  top: 16px;
  right: 27px;
  cursor: pointer;
}

.categorySelect {
  margin-top: 20px;
  width: 100%;
  color: var(--white-60);
  font-size: 18px;
}

.select_wrapper {
  width: 100%;
  height: 50px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .inputField,
  .dateInput {
    flex: 1;
    padding: 8px 12px;
    text-align: center;
    width: 181px;
  }

  .inputs {
    display: flex;
    flex-direction: row;
  }
}

@media only screen and (min-width: 1280px) {
}

.icon {
  position: absolute;
  top: 30px;
  right: 20px;
  pointer-events: none;
}

.icon.is_active {
  transform: rotate(180deg);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media screen and (min-width: 768px) {
  .inputs {
    display: flex;
    gap: 32px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
}

:global .react-datepicker__header {
  text-align: center;
  background-color:  rgba(82, 59, 126, 0.6);
  border-bottom: 1px solid #aeaeae;
  border-top-left-radius: 0.3rem;
  padding: 8px 0;
  position: relative;
}

:global .react-datepicker__month {
  /* margin: 0.4rem;
  text-align: center; */
  background-color:  rgba(82, 59, 126, 0.6);
}
:global .react-datepicker__month-container {
  /* float: left; */
  background-color:  rgba(82, 59, 126, 0.6);
}


:global  .react-datepicker__day {
  color: var(--white-40);
}
:global .react-datepicker__current-month {
  color: var(--white-smoke);
}
