.pageContainer {
  background-image: url("../../images/DashboardPage-IMG/gradient-desktop_1px.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-color: rgb(22, 16, 34);
}

.customContainer {
  margin: 0 auto;
  max-width: 320px;
}

.boxesContainer {
  display: flex;
  flex-direction: column;
}

.boxRight {
  width: 100%;
}

.boxLeft {
  margin: 0px 20px;
}

@media screen and (min-width: 768px) {
  .customContainer {
    padding: 0 32px;
    max-width: 768px;
  }

  .boxLeft {
    margin: 0px;
  }

  .navbalcur {
    display: flex;
    flex-direction: row;
    gap: 32px;
  }

  .navbal {
    display: flex;
    flex-direction: column;
    max-width: 336px;
    width: 100%;
    margin-top: 40px;
  }

  .pageContainer {
    height: 100vh;
  }
}

@media screen and (min-width: 1280px) {
  .customContainer {
    padding: 0px;
    max-width: 1280px;
  }

  .boxesContainer {
    display: flex;
    flex-direction: row;
    gap: 69px;
    margin-right: 16px;
  }

  .boxLeft {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgba(255, 255, 255, 0.6);
    padding-top: 40px;
    max-width: 480px;
    width: 100%;
  }

  .boxRight {
    padding-top: 46px;
    width: 100%;
  }

  .navbalcur {
    display: block;
    width: 480px;
  }

  .navbal {
    display: block;
    max-width: 100%;
    margin: 0px;
  }
}
