.main {
  display: flex;
  flex-direction: row;
  gap: 69px;
}

.pageContainer {
  background-image: url("../../images/DashboardPage-IMG/gradient-desktop_1px.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.box_left {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(255, 255, 255, 0.6);
  padding-top: 40px;
  max-width: 480px;
  width: 100%;
}

.box_right {
  padding-top: 40px;
  width: 100%;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}
