.main_title {
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  margin-bottom: 2px;
}

.tab_Container {
  padding: 0px 20px;
  margin-top: 12px;
}

@media only screen and (min-width: 768px) {
  .tab_Container {
    padding: 0px;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

.filler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;

  margin-top: 155px;
}

@media only screen and (min-width: 768px) {
  .filler {
    margin-top: 110px;
  }
}

@media only screen and (min-width: 1280px) {
  .filler {
    margin-top: 150px;
  }
}

.title {
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
}

.description {
  color: var(--white);
  font-size: 16px;
  text-align: center;
}
