p {
  color: white;
}

.title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  color: var(--white);
  margin-bottom: 8px;
}

.tabContainer {
  padding: 0px 20px;
  margin-top: 12px;
}

@media only screen and (min-width: 768px) {
  .title {
    margin-bottom: 20px;
  }

  .tabContainer {
    padding: 0px;
  }
}

@media only screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
}

.filler p {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}