.mainContainer {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-image: var(--bg-mobile-linear-gradient);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: var(--form-mobile-linear-gradient),
    var(--form-mobile-radial-gradient);
  height: 100vh;
}

.icon {
  width: 27px;
  height: 26px;
}

.title {
  font-weight: 400;
  font-size: 19px;
  color: var(--white);
}

.form {
  display: flex;
  flex-direction: column;
  min-height: auto;
  gap: 40px;
  margin-top: 40px;
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.wrap {
  border-bottom: 1px solid var(--white-40);
  display: flex;
  padding-bottom: 8px;
  padding-left: 10.5px;
  margin-bottom: 16px;
  width: 280px;
}

.input {
  font-weight: 400;
  font-size: 18px;
  width: 280px;
  height: 32px;
  gap: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 19px;
  color: var(--white);
}

.btnLogin {
  border: none;
  border-radius: 20px;
  width: 280px;
  height: 50px;
  cursor: pointer;

  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: var(--white);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-button);

  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.btnLogin:hover {
  background: var(--btn-hover-bg);
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3), 0 0 20px rgba(10, 10, 10, 0.1);
  color: var(--white-smoke);
}

.btnRegister {
  border-radius: 20px;
  border: none;
  width: 280px;
  height: 50px;
  cursor: pointer;

  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: var(--button-gradient);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);

  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.btnRegister:hover {
  background: var(--btn-hover-bg);
  color: var(--white-smoke);
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3), 0 0 20px rgba(10, 10, 10, 0.1);
}

.error {
  color: var(--error-yellow);
}

@media only screen and (min-width: 768px) {
  .mainContainer {
    background-image: url("../../images/RegistrationPage-IMG/registr-page-gradient-tablet_1x.webp"),
      var(--bg-tablet-linear-gradient);

    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  @media (min-resolution: 2dppx) {
    .mainContainer {
      background-image: url("../../images/RegistrationPage-IMG/registr-page-gradient-tablet_2x.webp"),
        var(--bg-tablet-linear-gradient);
    }
  }

  .container {
    animation: slide-in 1.2s ease;
  }

  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .input {
    width: 409px;
    height: 35px;
  }

  .wrap {
    width: 409px;
  }

  .btnRegister {
    border-radius: 20px;
    width: 300px;
    height: 50px;
  }

  .btnLogin {
    border-radius: 20px;
    width: 300px;
    height: 50px;
  }

  .title {
    font-size: 26px;
    opacity: 0;
    transform: scale(0.5);
    animation: scale-in 1.2s ease-out forwards;
  }
  
  @keyframes scale-in {
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .container {
    border-radius: 8px;
    padding: 40px 62px;
    height: 100%;
    backdrop-filter: blur(25px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
    background: var(--form-tablet-desktop-radial-gradient);
  }

  .formContainer {
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .icon {
    width: 36px;
    height: 36px;
  }
}

@media only screen and (min-width: 1280px) {
  .mainContainer {
    background-image: url("../../images/RegistrationPage-IMG/registr-page-gradient-dekstop_1x.webp"),
      var(--bg-desktop-linear-gradient);
  }
  /* linear-gradient(220deg, rgb(109, 84, 235, 0.4), rgb(100, 35, 144, 0.4)); */

  @media (min-resolution: 2dppx) {
    .mainContainer {
      background-image: url("../../images/RegistrationPage-IMG/registr-page-gradient-dekstop_2x.webp"),
        var(--bg-tablet-linear-gradient);
    }
  }
}
