:root {
  --yellow: #ffb627;
  --icon-violet: #734aef;
  --white: rgb(251, 251, 251);
  --white-smoke: #f5f5f5;
  --white-40: rgba(255, 255, 255, 0.4);
  --white-60: rgba(255, 255, 255, 0.6);
  --text-button: #623f8b;
  --dashboard-text: #ff868d;
  --form-color: rgba(255, 255, 255, 0.1);
  --error-yellow: #ffc727;
  --btn-border: #4a56e2;
  --btn-hover: #7000ff;
  --btn-hover-bg: #9e40ba;
  --modal-bg: #220d5b3b;

  /* #region box-shadow */

  --box-shadow: #4a56e280;
  --box-shadow-modal: #00000033;

  /* #endregion box-shadow */

  /* #region bg gradients */

  --bg-mobile-linear-gradient: linear-gradient(
    147deg,
    rgba(41, 34, 81, 0),
    rgba(33, 22, 41, 0.2),
    rgba(89, 42, 143, 0.26)
  );

  --bg-tablet-linear-gradient: linear-gradient(
    147deg,
    rgb(6 5 12 / 0%),
    rgb(9 6 11 / 40%),
    rgb(9 6 11 / 78%),
    rgb(156 70 165 / 21%),
    rgb(48 24 76 / 26%)
  );

  --bg-desktop-linear-gradient: linear-gradient(
    157deg,
    rgb(6 5 12 / 40%),
    rgb(9 6 11 / 40%),
    rgb(9 6 11 / 40%),
    rgb(106 70 165 / 24%),
    rgb(2 144 252 / 26%)
  );

  /* #endregion bg gradients */

  /* #region form gradients */

  --form-mobile-linear-gradient: linear-gradient(
    243deg,
    rgb(31 28 32 / 71%),
    rgb(50 31 145 / 30%),
    rgb(75 52 130 / 78%),
    rgb(7 1 13 / 23%)
  );

  --form-mobile-radial-gradient: radial-gradient(
    circle at center,
    rgb(87 59 223 / 73%) 0%,
    rgba(255, 255, 255, 0.1) 90%
  );

  --form-tablet-desktop-radial-gradient: radial-gradient(
    circle at center,
    rgb(63, 46, 133) 40%,
    rgba(255, 255, 255, 0.1)
  );

  /* #endregion form gradients */

  /* #region button gradients */

  --button-gradient: linear-gradient(
    133deg,
    #ffc727 0%,
    #bf6e93 61.46%,
    #a54ab2 90.54%
  );

  /* #endregion button gradients */

  /* #region modal gradients */

  --modal-bg-gradient-mobile: linear-gradient(
    182deg,
    rgba(83, 61, 186, 1) 0%,
    rgb(72 37 145) 43.14%,
    rgb(85 49 140) 73.27%,
    rgb(199 180 81 / 37%) 120.03%
  );

  /* #endregion modal gradients */
}
