@media only screen and (min-width: 768px) {
  .mainContainer {
    background-image: url("../../images/LoginPage-IMG/login-page-gradient-tablet_1x.webp"),
      linear-gradient(220deg, rgb(109, 84, 235, 0.4), rgb(100, 35, 144, 0.4));
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 568px;
  /* margin-right: 20px;
  margin-left: 20px; */
  background-image: linear-gradient(
    220deg,
    rgb(109, 84, 235, 0.4),
    rgb(100, 35, 144, 0.4)
  );
}

@media only screen and (min-width: 768px) {
  .container {
    border-radius: 8px;
    width: 533px;
    height: 570px;
    backdrop-filter: blur(100px);
    box-shadow: 0 4px 60px 0 rgba(0, 0, 0, 0.25);
    background: rgba(255, 255, 255, 0.1);
    /* margin: 227px 117px; */
    margin: 0 auto;
  }
}
.title {
  font-weight: 400;
  font-size: 19px;
  color: #fbfbfb;
}
@media only screen and (min-width: 768px) {
  .title {
    font-size: 26px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  min-height: auto;
  gap: 40px;
  /* border-bottom: rgba(255, 255, 255, 0.4); */
  margin-top: 52px;
  /* width: 350px;
  height: 350px; */
}
.wrap {
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
}
.input {
  font-weight: 400;
  font-size: 18px;
  gap: 40px;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 19px;
}
.btn {
  border-radius: 20px;
  width: 280px;
  height: 50px;
}
.btnLogin {
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    167deg,
    #ffc727 0%,
    #9e40ba 61.46%,
    #7000ff 90.54%
  );
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
}
.btnRegister {
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: #623f8b;
}
