.navigation {
  display: flex;
  flex-direction: column;
  margin: 0px 16px;
}

.hidden {
  display: none;
}

/* #region icon */

/* .dollarIcon,
.homeIcon,
.timeLineIcon {
  width: 18px;
  height: 18px;
}

.active .dollarIcon,
.active .homeIcon,
.active .timeLineIcon {
    fill: var(--icon-violet);
} */

.navIcon {
  width: 18px;
  height: 18px;
}

.navIcon .active {
  fill: var(--icon-violet);
}

.navLink {
  color: orange;
}

/* #endregion icon */

.homeContainer,
.timeLineContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.homeContainer {
  margin-bottom: 12px;
}
.timeLineContainer {
  margin-bottom: 28px;
}

.linkText {
  color: red;
}

.isActive {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  color: var(--white);
  color: red;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
  .dollarContainer {
    display: none;
  }
}
