.logOutModal {
  position: fixed;
  top: 60px;
  left: 0;
  height: calc(100vh - 60px);
  width: 100%;
  z-index: 150;
  background: var(--modal-bg-gradient-mobile);
  box-shadow: 0px 4px 60px 0px var(--box-shadow-modal);
  backdrop-filter: blur(80px);
  overflow: auto;
}

.logOutModal::-webkit-scrollbar {
  display: none;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  width: 100%;
  min-height: 100%;
  position: relative;
}

.modalContent .buttonsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.modal_close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .logOutModal {
    top: 0;
    min-height: 100vh;
    background: var(--modal-bg);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    padding: 40px 118px;
  }
  .modalContent {
    background-image: var(--modal-bg-gradient-tablet);
    box-shadow: 0px 4px 60px 0px var(--box-shadow-modal);
    border-radius: 8px;
    min-height: fit-content;
    height: 447px;
    width: 533px;
    padding: 10px 117px;
    margin: auto 0;
    gap: 30px;
    backdrop-filter: blur(50px);
  }

  .modalContent p {
    width: 299px;
    font-weight: 400;
    letter-spacing: normal;
  }
}

.btnCancel {
  border: 1px solid var(--btn-border);
  border-radius: 20px;
  width: 280px;
  height: 50px;
  cursor: pointer;

  box-shadow: 1px 9px 15px 0 var(--box-shadow-modal);
  background: var(--white);

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-button);
}

.title {
  font-weight: 400;
  font-size: 26px;
  color: var(--white);
  text-align: center;
}
.p {
  font-weight: 400;
  font-size: 18px;
  color: var(--white);
}
.hover {
  fill: var(--btn-border);
}
