.btncontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.button {
  width: 69px;
  height: 29px;
  padding: 4px 12px;
  border-radius: 20px;
  opacity: 1;
  border: 0;
  cursor: pointer;
  background: var(--button-gradient);
  color: white;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: button-bounce-in 1.5s ease forwards;
}

@keyframes button-bounce-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 1;
    transform: translateY(-5px);
  }
  70% {
    transform: translateY(2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.button:hover {
  animation: button-hover 0.5s ease infinite;
}

@keyframes button-hover {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.carandash {
  background: none;
  border: none;
  cursor: pointer;

  animation: button-fade-in 1.5s ease forwards;
}

@keyframes button-fade-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

tr {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  text-align: left;
}

.type {
  text-align: center;
}

.sum {
  text-align: right;
}

ul {
  padding: 0px;
  margin: 0px;
}

/* mobile styles */

.card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: var(--form-color);
  color: white;

  /* та сама лінія зліва */
  border-left: 5px solid orange;
}

.cardRow {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
}
.cardRow:not(:last-child) {
  border-bottom: 1px solid rgba(128, 128, 128, 0.534);
}

.cardLabel {
  font-weight: bold;
}

.cardValue {
  text-align: right;
}

.cardActions {
  display: flex;
  justify-content: space-between;
}

.cardActions button {
  margin: 0px;
  padding: 0px;
}

.cardActions {
  padding: 12px 20px;
}

.carandash {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-60);
}

.penContainer {
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 4px 12px;
}
