.header {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  align-items: center;
  height: 60px;
  margin: 0 auto;
  max-width: 320px;
}

.headerLine {
  width: 100%;
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.25),
    inset 0 -3px 2px 0 rgba(0, 0, 0, 0.1);
  background: linear-gradient(276deg, #2e1746 3.19%, #2e225f 100%);
}

.icon {
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  fill: white;
}

.exitWrapper {
  display: flex;
  background: none;
  border: none;
  cursor: pointer;
  border-left: 1px solid grey;
  padding-left: 12px;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.exitWrapper svg {
  fill: var(--color1, #fff);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.exitWrapper:hover svg {
  fill: #adb5bd;
}

.exitText {
  margin-left: 8px;
  color: var(--white-60);

  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.exitWrapper:hover .exitText {
  color: grey;
}

.userExit {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  font-size: 12px;
}

.logoName {
  font-weight: 400;
  font-size: 12px;
  color: #fbfbfb;
}

.userName {
  font-size: 16px;
  color: var(--white-60);
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
    padding: 16px 32px;
    max-width: 768px;
  }

  .logoName {
    font-size: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 16px;
    max-width: 1280px;
  }
}

.logoName {
  color: white;
}
.div:hover p {
  color: #adb5bd;
}

.div p {
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.div {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: #adb5bd;
  cursor: pointer;
}

.div:hover .icon {
  fill: #adb5bd;
}
