.headContainer {
  width: 100%;
  background-color: var(--white);
  background: var(--white-20);

  display: flex;
  padding: 13px 20px;
}

.headContainer p {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: var(--white);
  height: 24px;

  display: flex;
  align-items: center;
}

.purchase {
  margin-left: 26px;
}

.sale {
  margin-left: 66px;
}

.valContainer {
  display: flex;
  justify-content: space-between;
}

.valContainer p {
  display: flex;
  align-items: center;
  height: 24px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--white);
}

.valWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 8px 20px 0px 20px;
}

@media screen and (min-width: 768px) {
  .headContainer {
    padding: 12px 20px;
  }

  .purchase {
    margin-left: 34px;
  }

  .sale {
    margin-left: 74px;
  }
}

@media screen and (min-width: 1280px) {
  .headContainer {
    padding: 16px 62px;
  }

  .purchase {
    margin-left: 49px;
  }

  .sale {
    margin-left: 50px;
  }

  .valWrapper {
    gap: 24px;
    padding: 24px 131px 0px 85px;
  }
}
