.contentTable {
  font-size: 16px;
}

.image {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.contentTable thead tr {
  color: #ffffff;
  text-align: left;
  background: rgba(255, 255, 255, 0.2);
}

.contentTable td {
  text-align: center;
  width: 33%;
  padding: 24px 0px 0px 0px;
}

.contentTable th {
  padding: 16px 0px;
  width: 33%;
  text-align: center;
}

.contentTable td {
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: var(--white);
}

.contentTable table thead {
  background: rgba(255, 255, 255, 0.2);
}

table {
  border-collapse: collapse;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 27px;
}
