.balanceContainer {
  box-shadow: 1px 9px 15px 0 rgba(0, 0, 0, 0.2);
  background: rgba(82, 59, 126, 0.6);
  color: #fff;

  border-radius: 8px;
  margin: 0 20px;
  margin-bottom: 32px;
  padding: 13px 32px 12px 32px;
  height: 80px;
}

.balanceTitle {
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  margin: 0;
  color: var(--white-40);

  margin-bottom: 8px;
}

.balanceAmount {
  font-size: 30px;
  font-weight: 700;
  color: var(--white);
}

.balanceAmount1 {
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .balanceContainer{
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media screen and (min-width: 1280px) {
  .balanceContainer {
    border-radius: 0px;
    width: 479px;
    padding: 13px 56px 12px 56px;
  }
}
